* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 40px;
}

.choice-container {
    background-color: #f1f1f1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 50px;
    width: 50px;
}