* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(331deg, rgba(232,203,26,1) 0%, rgba(45,253,202,1) 100%);
}

.game-board {
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 20px;
}

.choice-container {
    background-color: #f1f1f1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    position: absolute;
    top: 25px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.button-style {
    grid-column: 1 / 3;
    margin: 10px auto;
}

button[type="submit"] {
    height: 40px;
    width: 200px;
    font-weight: 700;
    border: 1px solid #fff700;
    background-color: #53ff53;
}

.box {
    height: 50px;
    width: 50px;
}