* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div {
    height: 720px;
    width: 720px;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    border: 1px solid black;
}